@import "src/assets/scss/variables/colours";

.user-details-card-container {
    .user-details-card {
        .form-error.password-reset-message {
            width: calc(100% - 30px);

            color: $primary-positive-colour;

            margin: 15px;

            font-size: 1.3em;

            a {
                cursor: pointer;
            }
        }
    }
}
