<div class="user-details-card-container">
    <div class="user-details-card">
        <div class="user-details-card-header">
            <img class="sidebar-logo" src="assets/images/logo.png">
        </div>

        <div *ngIf="!passwordResetRequestedSuccessfully">
            <form [formGroup]="requestPasswordResetForm" (ngSubmit)="requestPasswordResetAsync(requestPasswordResetForm.value)">
                <app-text-input formControlName="email" [parentForm]="requestPasswordResetForm" [inputId]="'email'" [inputName]="'email'" [inputTitle]="'Email'" [inputType]="'email'"></app-text-input>
                <app-loading-button [buttonText]="'Request Password Reset'" [isLoading]="isLoading" [isDisabled]="!requestPasswordResetForm.valid"></app-loading-button>
            </form>
            
            <span class="form-error" *ngIf="requestPasswordResetFormErrorMessageVisible">An unexpected error occured, please try again</span>
        </div>

        <span class="form-error password-reset-message" *ngIf="!isLoading && passwordResetRequestedSuccessfully">An email with a link to reset your password has been sent to the provided email address</span>
    </div>
</div>