@import 'src/assets/scss/variables/colours';
@import 'src/assets/scss/variables/dimensions';

.login-card-container {
    width: 100%;
    height: 100%;

    background-color: $secondary-background-colour;

    display: flex;
    align-items: center;
    justify-content: center;

    .login-card {
        width: 100%;
        height: fit-content;

        .login-card-header {
            width: fit-content;
            height: $login-card-header-height;
    
            margin: 0 auto 25px auto;
    
            img {
                height: $login-card-header-height;
            }
        }

        form {
            padding: 15px;
        }
        
        .login-form-error {
            width: 100%;

            color: $primary-negative-colour;

            margin: 0 0 10px 0;

            display: block;

            text-align: center;
        }
        
        .form-link {
            width: fit-content;

            margin: 15px auto;

            display: block;

            text-align: center;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: $tablet-small-breakpoint) {
    .login-card-container {
        background-color: unset;

        .login-card {
            width: 65%;

            background-color: $secondary-background-colour;

            border-radius: $primary-border-radius;
            
            .login-card-header {
                margin: 25px auto 0 auto;
            }
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .login-card-container {
        .login-card {
            width: 50%;
        }
    }
}

@media screen and (min-width: $tablet-large-breakpoint) {
    .login-card-container {
        .login-card {
            width: 45%;
        }
    }
}

@media screen and (min-width: $desktop-small-breakpoint) {
    .login-card-container {
        .login-card {
            width: 32.5%;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .login-card-container {
        .login-card {
            width: 30%;
        }
    }
}

@media screen and (min-width: $desktop-large-breakpoint) {
    .login-card-container {
        .login-card {
            width: 22.5%;

            .login-card-header {
                height: $login-card-header-desktop-height;
        
                img {
                    height: $login-card-header-desktop-height;
                }
            }
        }
    }
}