@import "src/assets/scss/variables/colours";
@import "src/assets/scss/variables/dimensions";
@import "src/assets/scss/variables/typeface";
@import "~@angular/material/theming";
@import "~ngx-toastr/toastr";

@include mat-core();

html {
    height: 100%;

    body {
        height: 100%;

        margin: 0;

        background-color: $primary-background-colour;

        font-family: Arial, Helvetica, sans-serif;

        app-root {
            width: 100%;
            height: 100%;
        }

        a {
            color: $tertiary-text-colour;

            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .loading-icon {
        width: 100px;
        height: 100px;

        margin: auto;

        background-image: url("assets/svg/loading-tertiary.svg");
        background-size: contain;
    }

    .cdk-overlay-dark-backdrop {
        background: rgba(0, 0, 0, 0.85) !important;
    }

    mat-dialog-container {
        background-color: $primary-background-colour !important;
    }

    mat-calendar {
        background-color: $secondary-background-colour;
        color: $primary-text-colour;

        mat-calendar-header {
            .mat-calendar-header {
                .mat-calendar-controls {
                    button {
                        background-color: $secondary-text-colour;
                    }
                }
            }
        }

        .mat-calendar-content {
            mat-month-view,
            mat-year-view,
            mat-multi-year-view {
                .mat-calendar-table {
                    .mat-calendar-body {
                        tr {
                            td {
                                button {
                                    &.mat-calendar-body-active {
                                        border-radius: 50%;

                                        .mat-calendar-body-cell-content {
                                            background-color: $secondary-text-colour;
                                            color: $secondary-background-colour;
                                        }

                                        .mat-calendar-body-cell-preview {
                                            border-radius: 50%;
                                        }
                                    }

                                    div {
                                        color: $primary-text-colour;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            mat-year-view,
            mat-multi-year-view {
                .mat-calendar-table {
                    .mat-calendar-body {
                        tr {
                            td {
                                button {
                                    &.mat-calendar-body-active {
                                        border-radius: 36px;
                                        
                                        .mat-calendar-body-cell-preview {
                                            border-radius: 36px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
