@import "src/assets/scss/variables/colours";
@import "src/assets/scss/variables/dimensions";
@import "src/assets/scss/variables/typeface";
@import "~ngx-toastr/toastr";

html {
    height: 100%;

    body {
        height: 100%;

        margin: 0;

        background-color: $primary-background-colour;

        font-family: Arial, Helvetica, sans-serif;

        app-root {
            width: 100%;
            height: 100%;
        }

        a {
            color: $tertiary-text-colour;

            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
