<div class="add-content-form-container">
    <h1 class="table-name">Create Content</h1>
    <form [formGroup]="addContentForm" (ngSubmit)="createOrUpdateContentAsync(addContentForm.value)">
        <select id="section" formControlName="section">
            <option value="none"><i>No Section Selected</i></option>
            <option *ngFor="let section of sections" [value]="section.id">{{ section.title }}</option>
        </select>
        <app-text-input formControlName="title" [parentForm]="addContentForm" [inputId]="'title'" [inputName]="'title'" [inputTitle]="'Title'" [inputType]="'text'" [disabled]="contentId === '00000000-0000-0000-0000-000000000000'"></app-text-input>
        <app-text-input formControlName="path" [parentForm]="addContentForm" [inputId]="'path'" [inputName]="'path'" [inputTitle]="'Path'" [inputType]="'text'" [disabled]="true" #pathTextInputComponent></app-text-input>

        <div class="content-editor-container">
            <ckeditor *ngIf="!isEditing || (isEditing && contentLoaded)" id="editor" formControlName="content" [editor]="editor" [config]="htmlEditorConfig" [data]="content"></ckeditor>
        </div>
        
        <app-loading-button [buttonText]="isEditing ? 'Update Content' : 'Add Content'" [buttonType]="'submit'" [isLoading]="isLoading" [isDisabled]="!addContentForm.valid"></app-loading-button>
    </form>
    
    <p class="add-content-form-error" *ngIf="addContentFormErrorMessageVisible">{{ addContentFormErrorMessage }}</p>
</div>