$primary-background-colour: #404349;
$secondary-background-colour: #303237;
$secondary-background-hover-colour: #292c31;
$tertiary-background-colour: #222831;
$input-background-colour: #25282d;

$primary-text-colour: #d9d9da;
$secondary-text-colour: #04cad3;
$tertiary-text-colour: #a0a0a0;

$primary-hover-colour: #04cad3;
$secondary-text-hover-colour: #03bac3;
$secondary-text-colour-disabled: #066a6f;

$stage-overlay-background-colour: #050607b0;

$primary-border-colour: #04cad3;
$secondary-border-colour: #d9d9da;

$scrollbar-thumb-colour: #8b8d91;
$scrollbar-thumb-hover-colour: #727171;

$darkening-factor: 20%;

$primary-positive-colour: #38cc2d;
$primary-negative-colour-hover: darken($primary-positive-colour, 5%);

$primary-negative-colour: #f44336;
$primary-negative-colour-hover: darken($primary-negative-colour, 5%);
