$tablet-small-breakpoint: 730px;
$tablet-breakpoint: 1024px;
$tablet-large-breakpoint: 1180px;
$desktop-small-breakpoint: 1600px;
$desktop-breakpoint: 1920px;
$desktop-large-breakpoint: 2560px;

$primary-border-radius: 5px;
$secondary-border-radius: 3px;

$scrollbar-width: 10px;
$scrollbar-border-radius: 3px;

$header-height: 50px;
$header-sidebar-button-dimensions: 35px;
$header-sidebar-button-margin-right: 28px;
$header-sidebar-button-icon-height: 17.5%;
$header-sidebar-button-icon-margin: 4px 0;
$header-sidebar-button-icon-border-radius: 15px;
$header-logo-dimensions: 50px;
$header-user-icon-dimensions: 35px;
$header-user-icon-dimensions-phone: 35px;
$header-user-action-icon-dimensions: 25px;
$header-user-action-icon-dimensions-phone: 20px;
$header-border-bottom-height: 3px;

$sidebar-width: 15%;
$sidebar-width-tablet: 25%;
$sidebar-width-tablet-small: 35%;
$sidebar-width-tablet-xsmall: 45%;
$sidebar-width-phone: 100%;
$sidebar-header-height: 200px;
$sidebar-logo-height: 130px;
$sidebar-button-search-container-height: 50px;
$sidebar-button-height: 50px;
$sidebar-button-action-icon-dimensions: 30px;

$stage-width: 85%;
$stage-width-mobile: 100%;

$login-card-header-height: 150px;
$login-card-header-desktop-height: 250px;

$home-info-container-table-height: 380px;
$home-info-container-table-border-radius: 5px;
$home-info-container-table-padding: 5px;
$home-info-container-table-row-padding: 8px 15px 12px 15px;
$home-info-container-table-row-border-height: 2px;

$admin-panel-margin-vertical: 70px;

$content-card-title-min-height: 38px;
$content-card-width: 80%;
$content-card-width-tablet: 95%;
$content-card-width-phone: 100%;
$content-card-max-height: 600px;
$content-card-border-radius: 5px;
$content-width: 80%;
$content-width-tablet: 95%;
$content-width-phone: 100%;
$content-card-loading-spinner-dimensions: 150px;

$content-edit-container-border-width: 3px;