$header-menu-button-container-margin-horizontal-phone: -15px;
$header-logo-container-margin-horizontal-phone: 22%;

$sidebar-sub-button-margin-bottom: 20px;

$home-info-container-margin-vertical: 25px;
$home-info-container-margin-vertical-tablet-small: 50px;