$primary-padding: 15px;
$primary-button-padding: 15px;

$header-vertical-padding: 10px;
$header-horizontal-padding: 25px;
$header-horizontal-mobile-padding: 15px;
$header-user-icon-padding: 2.5px;
$header-user-name-padding: 12px 10px 0 10px;
$header-user-action-icon-padding-vertical: 15px;
$header-user-action-icon-padding-vertical-phone: 5px;
$header-user-action-menu-button-padding: 15px;

$sidebar-padding: 10px 25px;
$sidebar-logo-padding: 15px 0 35px 0;
$sidebar-button-search-vertical-padding: 5px;
$sidebar-button-search-horizontal-padding: 5px;
$sidebar-button-vertical-padding: 5px;
$sidebar-button-action-icon-padding-vertical: 2px;
$sidebar-sub-button-padding-left: 15px;

$stage-padding: 25px;

$content-card-padding: 35px;
