$header-user-font-size: 1.6em;

$sidebar-button-font-size: 1.5em;
$sidebar-sub-button-font-size: 1.4em;

$home-info-container-table-tr-font-size: 1.75em;
$home-info-container-table-tr-font-size-phone: 0.95em;
$home-info-container-table-tr-span-line-height: 2.5;
$home-info-container-table-tr-span-line-height-phone: 3.5;

$content-font-size: 1.65em;
$content-font-size-phone: 0.95em;
$content-line-height-phone: 1.15;