@import 'src/assets/scss/variables/colours';
@import 'src/assets/scss/variables/dimensions';
@import 'src/assets/scss/variables/paddings';

.sidebar {
    width: 100%;
    height: 100%;

    background-color: $tertiary-background-colour;
    color: $primary-text-colour;
    
    .sidebar-header {
        width: 100%;
        height: 200px;

        .sidebar-logo-container {
            width: fit-content;

            margin: auto;
            padding: $sidebar-logo-padding;

            .sidebar-logo {
                height: $sidebar-logo-height;
            }
        }
    }
}