<div class="user-details-card-container">
    <div class="user-details-card">
        <div class="user-details-card-header">
            <img class="sidebar-logo" src="assets/images/logo.png">
        </div>

        <div *ngIf="isSetTokenValid && !passwordSetSuccessfully">
            <form [formGroup]="setPasswordForm" (ngSubmit)="setPasswordAsync(setPasswordForm.value)">
                <app-text-input formControlName="password" [parentForm]="setPasswordForm" [inputId]="'password'" [inputName]="'password'" [inputTitle]="'Password'" [inputType]="'password'" [inputErrorMessage]="'Password must be at least 8 characters'"></app-text-input>
                <app-text-input formControlName="confirmPassword" [parentForm]="setPasswordForm" [inputId]="'confirm-password'" [inputName]="'confirm-password'" [inputTitle]="'Confirm Password'" [inputType]="'password'" [inputErrorMessage]="'Passwords must match'"></app-text-input>
                <app-loading-button [buttonText]="'Set Password'" [isLoading]="isLoading" [isDisabled]="!setPasswordForm.valid"></app-loading-button>
            </form>
            
            <span class="form-error" *ngIf="setPasswordFormErrorMessageVisible || (!setPasswordForm.valid && !setPasswordForm.controls['password'].pristine && !setPasswordForm.controls['confirmPassword'].pristine)">{{ setPasswordFormErrorMessage }}</span>
        </div>

        <span class="form-error invalid-link-error" *ngIf="!isLoading && !isSetTokenValid && !passwordSetSuccessfully">This link is invalid, please request a new link to set your password by clicking the link below</span>

        <span class="form-error password-set-message" *ngIf="!isLoading && passwordSetSuccessfully">Your password has been set, you will now be directed to the <a [routerLink]="['/login']">Login Page</a></span>

        <a *ngIf="!isLoading && !passwordSetSuccessfully" class="form-link" [routerLink]="['/account/password-reset']">Need a new password reset link?</a>
    </div>
</div>