<div class="table-container">
    <h1 class="table-name">{{ tableName }}s</h1>
    <div class="table-actions-container">
        <div class="table-search-container">
            <input class="sidebar-button-search" placeholder="Search {{ tableName }}s" (input)="searchTermChanged($event)" #searchTermInput>
            <span *ngIf="searchTermEntered" class="clear-icon" (click)="clearSearchInput()">&#x2715;</span>
        </div>
        
        <button class="add-to-table-button button" (click)="emitTableActionClickedEvent()">Add {{ tableName }}</button>
    </div>

    <table>
        <thead>
            <tr *ngIf="headers !== undefined" class="table-header">
                <th *ngFor="let header of headers" [style.width.%]="header.width" app-table-header [data]="header"></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody *ngIf="!isLoading && rows !== undefined && rows?.length > 0">
            <tr *ngFor="let row of rows" app-table-row 
                [row]="row" 
                [viewButtonEnabled]="viewButtonEnabled" 
                [editButtonEnabled]="editButtonEnabled" 
                [deleteButtonEnabled]="deleteButtonEnabled"
                (actionButtonClickedEvent)="processTableRowActionButtonClicked($event)"></tr>
        </tbody>
        
        <tbody *ngIf="!isLoading && rows !== undefined && rows?.length === 0">
            <tr class="table-empty-row">
                <td [attr.colspan]="headers?.length + 1">
                    <div class="table-empty-container">
                        <h1>&#x2715;</h1>
                        <p>No {{ tableName }}s found</p>
                    </div>
                </td>
            </tr>
        </tbody>
        
        <tbody *ngIf="isLoading || rows === undefined">
            <tr class="loading-row">
                <td [attr.colspan]="headers?.length + 1">
                    <div class="loading-icon icon"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>