@import "src/assets/scss/variables/colours";
@import "src/assets/scss/variables/dimensions";
@import "src/assets/scss/variables/margins";
@import "src/assets/scss/variables/paddings";

.sidebar-button-search-container {
    width: 80%;
    height: $sidebar-button-search-container-height;

    margin: auto auto $sidebar-button-search-margin-bottom auto;

    position: relative;

    input {
        width: calc(100% - ($sidebar-button-search-horizontal-padding * 2));
        height: calc($sidebar-button-search-container-height - ($sidebar-button-search-vertical-padding * 2));

        background-color: $tertiary-background-colour;
        filter: brightness(calc(100% - $darkening-factor));
        color: $primary-text-colour;

        padding: 1px $sidebar-button-search-horizontal-padding;

        border: none;
        border-radius: 5px;
        outline: none;

        font-size: 1.5em;
    }

    .clear-icon {
        position: absolute;
        top: 5px;
        right: 5px;

        font-size: 1.5em;

        cursor: pointer;
    }
}

.sidebar-buttons-container {
    height: calc(
        100% -
            (
                $sidebar-header-mobile-height + $sidebar-button-search-container-height +
                    $sidebar-button-search-margin-bottom
            )
    );

    margin: 0 $sidebar-buttons-container-horizontal-margin;

    overflow-x: hidden;
    overflow-y: auto;

    .sidebar-buttons-message-container {
        text-align: center;

        h1 {
            color: $tertiary-text-colour;

            font-size: 3em;
        }
    }
}

.loading-icon {
    width: 100px;
    height: 100px;

    margin: auto;

    background-image: url("../../../../../../assets/svg/loading-tertiary.svg");
    background-size: contain;
}

@media screen and (min-width: $desktop-small-breakpoint) {
    .sidebar-buttons-container {
        height: calc(
            100% -
                (
                    $sidebar-header-desktop-height + $sidebar-button-search-container-height +
                        $sidebar-button-search-margin-bottom
                )
        );
    }
}
